<header class="page-header">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href='/'><i data-feather="home"></i></a>
  <button class="navbar-toggler" type="button" 
         data-toggle="collapse" data-target="#navbarLogIn"
         aria-controls="navbarLogIn"
         aria-expanded="false"
         aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
    {{#if user}}
        <div class="collapse navbar-collapse"   
         id="navbarLogIn">
            <span class="navbar-text text-dark col">{{ title }}</span>
            <a class="btn btn-dark col-auto" href="/users/logout">
            Log Out <span class="badge badge-light">{{ user.username }}
         </span></a>
            <a class="nav-item nav-link btn btn-dark col-auto" 
         href='/notes/add'>
                                    ADD Note</a>
        </div>
    {{else}}
        <div class="collapse navbar-collapse" id="navbarLogIn">
            <span class="navbar-text text-dark col"></span>
            <a class="nav-item nav-link btn btn-dark col-auto" href="/users/login">
                                        Log in</a>
            {{#if twitterLogin}}
            <a class="nav-item nav-link btn btn-dark col-auto" href="/users/auth/twitter">
            <img width="15px"
                src="/assets/vendor/twitter/Twitter_Social_Icon_Rounded_Square_Color.png"/>
                Log in with Twitter</a>
            {{/if}}
        </div>
    {{/if}}
</nav>
</header>
